html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
}

main {
	flex: 1 0;
	overflow: auto;
	border: 12px solid orange;
	/* margin: 12px; */
}

#editor {
	min-height: 100%;
	padding: 12px;
	white-space: pre-wrap;
}